body{
    background: rgb(246, 229, 244);
    text-align: center;
}
.grid-layout{
    display: grid;
    height: 700px;
    grid-template-columns: 80% 20% ;
    grid-template-rows: 20% 15% 60% 20%;
    background-color: azure;
    border: 1px solid black;
    padding: 20px;

    grid-template-areas: 'cabecera cabecera'
    'menu menu'
    'contenido lateral'
    'footer footer'

    ;
}
.caja{
    /*width: 150px;
    height: 150px;*/
    border: 4px solid black;
    background-color: blueviolet;
    /*margin: 5px;*/
    line-height: 150px;
}
.c1{
    background: rgb(100, 97, 97);
  /*  grid-column: 1/5;*/
  grid-area: cabecera;
}
.c2{
    background: rgb(80, 78, 78);
   /* grid-column: 1/ span 2;*/
   grid-area: menu;
}
.c3{
    background: rgb(107, 100, 100);
   /* grid-column: 3/5;*/
   grid-area: contenido;

}
.c4{
    background: rgb(78, 75, 75);
  /*  grid-column: 1/3;*/
  grid-area: lateral;
}
.c5{
    background: rgb(78, 75, 75);
  /*  grid-column: 1/3;*/
  grid-area: footer;
}